*{
  font-family: "PT Serif", serif;
  font-weight: 500;
  font-style: normal;
}
.form-control:focus{
  outline: none;
  box-shadow: none;
}
.light{
  background-color: lightgray;
}
.dark{
  background-color: black;
}

nav.navbar .navbar-nav .nav-link{
  font-size: 20px;
}
nav.navbar .navbar-nav .nav-link.active {
  color: blue !important;
  font-weight: bold;
  border-bottom: 3px solid blue;
}
